/* A lot of this is garbage and needs cleaning up */

@import "/css/rouge-github.scss";

/* Generic settings and large screens */
/* Body element settings */
body {
	padding: 3.125em;
	font: 0.875em Helvetica, Arial, sans-serif;
	font-weight: 400;
	word-wrap: normal;
}
body.dark-mode {
	color: #ddd;
	background-color: #555;
}
body.light-mode {
	color: #727272;
	background-color: #fff;
}

/* Header element settings */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px;
}
h1, h2, h3 {
  line-height: 1.1;
}
body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
	color: #eee;
}
body.light-mode h1, body.light-mode h2, body.light-mode h3, body.light-mode h4, body.light-mode h5, body.light-mode h6 {
	color: #222;
}

/* Anchor element settings */
a:link {
	color: #267CB9;
	text-decoration: none;
}
a:visited {
	color: #069;
}
a:hover, a:focus {
	color: #069;
	text-decoration: underline;
}
body.dark-mode a:link, body.dark-mode a#theme-switch:link, body.dark-mode a#theme-switch:visited {
	color: #ff8f00;
}
body.dark-mode a:visited {
	color: #ffca00;
}
body.dark-mode a:hover, body.dark-mode a:focus {
	color: #ffca00
}

  /* Codeblock element settings */
pre {
	padding: 8px 15px;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	overflow-x: auto;
}
code, pre {
	font-family: "Courier New", Courier, monospace;
	padding: 0.125em;
}
body.dark-mode code, body.dark-mode pre {
	color: #fff;
	background-color: #333;
}
body.light-mode code, body.light-mode pre {
	color: #222;
	background-color: #e5e5e5;
}

/* Table element settings */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 20px;
}
th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}
th {
  color:#444;
}
body.dark-mode table * {
	color: #d0d0d0;
}

/* Clean up this: */

p, ul, ol, pre, dl {
	margin: 0 0 20px;
}

a small {
	margin-top: -0.3em;
	display: block;
}

div.wrapper {
	width: 75%;
	margin: 0 auto;
}

blockquote {
	border-left: 1px solid #e5e5e5;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic;
}

dt {
	color: #444;
	font-weight: 700;
}

img {
	max-width: 100%;
}

header {
	/* width: 25%; */
	height: 50%;
	float: left;
	position: fixed;
	-webkit-font-smoothing: subpixel-antialiased;
}

header ul {
	list-style: none;
	height: 40px;
	padding: 0;
	background: #f4f4f4;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	width: 270px;
}

header li {
	width: 89px;
	float: left;
	border-right: 1px solid #e0e0e0;
	height: 40px;
}

header li:first-child a {
	border-radius: 5px 0 0 5px;
}

header li:last-child a {
	border-radius: 0 5px 5px 0;
}

header ul a {
	line-height: 1;
	font-size: 11px;
	color: #676767;
	display: block;
	text-align: center;
	padding-top: 6px;
	height: 34px;
}

header ul a:hover, header ul a:focus {
	color: #675C5C;
	font-weight: bold;
}

header ul a:active {
	background-color: #f0f0f0;
}

header ul li + li + li {
	border-right: none;
	width: 89px;
}

header ul a strong {
	font-size: 14px;
	display: block;
	color: #222;
}

section {
	width: 75%;
	height: 100%;
	float: right;
	padding-bottom: 50px;
}

hr {
	border: 0;
	background: #e5e5e5;
	height: 1px;
	margin: 0 0 20px;
}

footer {
	width: 25%;
	height: 50%
	float: left;
	position: fixed;
	bottom: 50px;
	-webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {
	div.wrapper {
		width: auto;
		margin: 0;
	}
	header, section, footer {
		float: none;
		position: static;
		width: auto;
	}
	header {
		padding-right: 320px;
	}
	section {
		border: 1px solid #e5e5e5;
		border-width: 1px 0;
		padding: 20px 0;
		margin: 0 0 20px;
	}
	header a small {
		display: inline;
	}
	header ul {
		position: absolute;
		right: 50px;
		top: 52px;
		}
}

@media print, screen and (max-width: 720px) {
	body {
		word-wrap: break-word;
	}
	header {
		padding: 0;
	}
	header ul, header p.view {
		position: static;
	}
	pre, code {
		word-wrap: normal;
	}
}

@media print, screen and (max-width: 480px) {
	body {
		padding: 15px;
	}
	header ul {
		width: 99%;
	}
	header li, header ul li + li + li {
		width: 33%;
	}
}

@media print {
	body {
		padding: 0.4in;
		font-size: 12pt;
		color: #444;
	}
}
