<ul>
    <li><a rel="me" href="https://github.com/InfosecSapper" title="Link to my GitHub profile" aria-label="Link to my GitHub profile" class="fab fa-2x fa-github"></a></li>
    <li><a rel="me" href="https://twitter.com/InfosecSapper" title="Link to my Twitter profile" aria-label="Link to my Twitter profile" class="fab fa-2x fa-twitter"></a></li>
    <li><a rel="me" href="https://mastodon.social/@infosecsapper" title="Link to my Mastodon profile" aria-label="Link to my Mastodon profile" class="fab fa-2x fa-mastodon"></a></li>
    <li><a rel="me" href="https://keybase.io/thesapper" title="Link to my Keybase profile" aria-label="Link to my Keybase profile" class="fab fa-2x fa-keybase"></a></li>
</ul>