<head>
  <!-- Metadata -->
  <meta charset="utf-8">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="TheSapper">
  <meta name="viewport" width="device width, initial-scale=1.0">
  <!-- favicon
    <link rel="shortcut icon" href="/img/favicon.png">
  -->
  <title>InfosecSapper | {{ page.title }}</title>
  <!-- Stylesheet(s) -->
  <link rel="stylesheet" type="text/css" href="/css/main.css"> <!-- Local CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> <!-- CDN for icons -->
<!-- Google Analytics -->
  {% include analytics.html %}
</head>
