<!doctype html>
<html lang=en>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107815621-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-107815621-1',{ 'allow_display_features': false, 'anonymize_ip': true });
    </script>
    <!-- End Google Analytics -->
    <!-- Theme selector script -->
    <script src="/themes.js"></script>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="TheSapper">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ site.name }} | {{ page.title }}</title>
  </head>
  <body id="body" class="light-mode" onload="checkTheme();">
    <div class="wrapper">
      <header>
        <h1>InfosecSapper</h1>
        <p class="view"><a href="https://infosecsapper.com">Home</a> | <a id="theme-switch" href="javascript:toggleTheme();">Dark Theme</a></p>
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <p><small><a href="{{ site.github.owner_url }}">GitHub</a> | <a href="https://twitter.com/InfosecSapper">Twitter</a> | <a href="/privacy.html">Privacy Statement</a></small></p>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
  </body>
</html>
