<!doctype html>
<html lang=en>
  <head>
    <!-- Google Analytics -->
    {{% include analytics.html %}}
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="TheSapper">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ site.name }} | {{ page.title }}</title>
  </head>
  <body>
    {{% include sidebar.html %}}
    <div class="wrapper">
      <header>
        <a href="{{ site.github.owner_url }}"> <h1>InfosecSapper</h1></a>
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Based on the Minimal Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
  </body>
</html>
